.clearboth {
	clear: both;
	text-indent: -9999px;
	height: 0;
}
.beauty-static-content {
	// images block
	.image-block {
		padding-left: 0;
		padding-right: 0;
		.promo-banners {
			float: left;
		}
		.promo-banner-lg,
		.promo-banner-sm {
			margin-bottom: 15px;
		}
	}
	//sidebar style
	.category-block {
		float: right;
		padding-left: 0;
		padding-right: 0;
		padding-left: 30px;
		color: #333;
		.promo-banner-lg {
			display:none;
		}
	}
	// title
	.em-block-title {
		margin-bottom: 30px;
		border-bottom: 1px solid #e1e1e1;
		color: #000;
		text-transform: uppercase;
		margin-left: 10px;
		h2 {
			border-bottom: 3px solid #cca745;
			padding-bottom: 10px;
			display: inline-block;
			vertical-align: top;
			margin-bottom: -1px;
		}
	}
	// brand logo
	.brand-logo {
		ul {
			overflow: hidden;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
	//common tree nav
	.ves-megamenu .dropdown-menu .content-wrap .megamenu-content {
		padding: 0;
	}
	
}

@media (min-width:768px){
	.beauty-static-content {
		.category-block {
			.block-title {
				display:none;
			}
			.ves-megamenu.ves-vertical .dropdown.submenu-left {
				padding: 0 0 8px 0;
			}
			.ves-megamenu.menu-click .level0 .submenu {
				display:block;
			}
			.menu-click.ves-vertical .opener {
				display:none;
			}
			.ves-megamenu.ves-vertical,.ves-megamenu.ves-vertical 	li.level0>.submenu {
				border:none;
			}
			.ves-vertical li.level0>a {
				padding:0;
				font-size: 20px;
				font-weight: bold;
				line-height: normal;
				color: #444;
				padding: 0 0 5px 0;
			}
			.ves-megamenu li.level0:hover > a {
				background:none;
				color:#444;
			}
			.ves-megamenu.menu-click .mega-col {
				padding:0;
			}
			.navigation .level0 .submenu a {
				padding:3px 0 !important;
				font-size: 18px;
			}
			
			.navigation .level0 .submenu.dropdown-menu .level2.nav-dropdown a {
				font-size: 15px;
				padding: 0!important;
			}
			.navigation .level0 .submenu.dropdown-menu .level2.nav-dropdown a:hover {
				background:none;
			}
		}
		
	}
}

@media (max-width:767px){
	.cms-test-beauty .page-main {
		padding-top: 15px;
	}
	.beauty-static-content {
		// images block
		.image-block {
			clear:both;
			.promo-banners,
			.promo-banner-lg {
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 5px;
			}
			.promo-banner-lg.hide-mobile {
				display:none;
			}
			.promo-banner-sm {
				margin-bottom: 5px;
			}
		}
		.category-block {
			padding-left: 0;
			float: none;
			width: 100%;
			.promo-banner-lg {
				display:block;
				margin: 0 0 10px 0;
				padding: 0;
			}
		}
		.em-block-title {
			margin-left: 0;
		}
		.brand-logo {
			ul {
				overflow: hidden;
				padding: 0;
			li 	{
				list-style-type: none;
				width: 33.33%;
				float: left;
				padding: 2px;
				margin-bottom: 0;
				}
			}
		}
		.ves-megamenu.ves-vertical {
			border-top: 1px solid #ddd;
			background: none;
			border-left: none;
			border-right: none;
			border-bottom: none;
		}
		
		.nav-mobile li.level0 > a,.nav-mobile .nav-item > a {
			border-bottom:1px #e2e2e2 solid;
		}
		
		.ves-megamenu .opener {
			padding: 8px 20px;
		}
		.ves-megamenu .opener.item-active {
			background: none;
		}
		
		.ves-megamenu .opener:before {
			content: "\f107";
			font-size: 30px;
			color:#989898;
		}
		.ves-megamenu .opener.item-active:before {
			content: "\f106";
		}
		.ves-megamenu .level1.nav-dropdown .opener {
			padding: 14px 20px;
		}
		
		.ves-megamenu .level1.nav-dropdown .opener:before {
			content: "\f067";
			font-size: 18px;
		}
		.ves-megamenu .level1.nav-dropdown .opener.item-active:before {
			content: "\f068";
		}
		
		.navigation li.level0,.navigation li.level0:hover {
			border:none;
		}
		.ves-megamenu.ves-vertical li.level0 {
			position: relative !important;
			clear: both;
		}
		.ves-megamenu.ves-vertical li.level0>.submenu {
			border:none;
		}
	}
}
