/*customvariable*/
@common_button_bg_color:#cca745;
@common_button_border_color:#cca745;
@common-button_hover_bg:#fff;
@common_anchor:#434343;
@common_anchor_hover:#cca745;


/*import of custom files*/
@import '_header.less';
@import '_footer.less';
@import '_checkout.less';
@import '_celebmasonry.less';
@import '_listnav.less';
@import '_beautylandingpage.less';
@import '_megamenu.less';
@import '_cart-page.less';
@import '_productlist-page.less';

/*buttons,anchors*/
a:hover, .alink:hover {
	color: @common_anchor_hover;
}

a.button-link:hover,a.button-link.first:hover {
    border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

.abs-product-link > a:hover, .product-item-name > a:hover, .product.name a > a:hover {
	color: @common_anchor_hover;
}

.action.multicheckout:visited,.action.multicheckout.action.multicheckout:active,.action.multicheckout {
	color: @common_anchor;
}

.action.multicheckout:hover {
    color: @common_anchor_hover;
}

.wrapper-breadcrums a:hover {
    color: @common_anchor_hover;
}

.wrapper-breadcrums a:active {
    color: @common_anchor_hover;
}

.modes-mode.active,.modes-mode:hover:before,.modes-mode.active:before {
    color:@common_anchor_hover;
}

/*layout*/

.page-main,.page-bottom {
	background-color: rgba(240, 240, 240, 0.2);
}
@media only screen and (max-width: 767px) {
body.cms-index-index .columns .column.main {
	padding-bottom: 0;
}
}

.em-line-01 .block-title strong, .block.crosssell .block-title strong, .block.upsell .block-title strong, .block.related .block-title strong, .page-main .widget .block-title strong, .em-line-01 .em-block-title strong, .block.crosssell .em-block-title strong, .block.upsell .em-block-title strong, .block.related .em-block-title strong, .page-main .widget .em-block-title strong, .em-line-01 .em-widget-title strong, .block.crosssell .em-widget-title strong, .block.upsell .em-widget-title strong, .block.related .em-widget-title strong, .page-main .widget .em-widget-title strong, .em-line-01 .block-title h2, .block.crosssell .block-title h2, .block.upsell .block-title h2, .block.related .block-title h2, .page-main .widget .block-title h2, .em-line-01 .em-block-title h2, .block.crosssell .em-block-title h2, .block.upsell .em-block-title h2, .block.related .em-block-title h2, .page-main .widget .em-block-title h2, .em-line-01 .em-widget-title h2, .block.crosssell .em-widget-title h2, .block.upsell .em-widget-title h2, .block.related .em-widget-title h2, .page-main .widget .em-widget-title h2, .em-line-01 .block-title h3, .block.crosssell .block-title h3, .block.upsell .block-title h3, .block.related .block-title h3, .page-main .widget .block-title h3, .em-line-01 .em-block-title h3, .block.crosssell .em-block-title h3, .block.upsell .em-block-title h3, .block.related .em-block-title h3, .page-main .widget .em-block-title h3, .em-line-01 .em-widget-title h3, .block.crosssell .em-widget-title h3, .block.upsell .em-widget-title h3, .block.related .em-widget-title h3, .page-main .widget .em-widget-title h3 {
	border-bottom: 3px solid #cca745;
}

/*Buttons,anchor,icons*/
#back-top a {
	border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

#back-top a:hover {
    color: #000;
    border-color: @common_button_border_color;
    background-color: @common-button_hover_bg;
}



.product-shop-top .actions-primary button.tocart.primary {
	color: #fff;
	border-color: @common_button_border_color;
	background-color: @common_button_bg_color;
}

.product-shop-top .actions-primary button.tocart.primary:hover {
	color: #cca745;
	border-color: @common_button_border_color;
}

.actions-secondary .action, .table-comparison .action.towishlist {
	color: #fff;
	border-color: @common_button_border_color;
	background-color: @common_button_bg_color;
}

.actions-secondary .action:hover,.table-comparison .action.towishlist:hover {
    color: #cca745;
    border-color: @common_button_border_color;
}

.products-list a.qs-button, .products-grid a.qs-button {
	color: #fff;
	border-color: @common_button_border_color;
	background-color: @common_button_bg_color;
}

.products-list a.qs-button:hover, .products-grid a.qs-button:hover {
	color: #cca745;
    border-color: @common_button_border_color;
}

.action.primary {
	background: @common_button_bg_color;
    border: 1px solid @common_button_border_color;
}

.action-primary:focus,.action-primary:active {
    background: @common_button_bg_color;
    border: 1px solid @common_button_border_color;
    color: #000
}

.action.primary:hover {
	background: @common-button_hover_bg!important;
	border: 1px solid @common_button_border_color!important;
    color: #000;
}

a.action.primary {
	color: #cca745;
}

.page-footer a:hover {
	color: @common_anchor_hover;
}

.em-newsletter-style02 .block.newsletter .content .action.subscribe:hover {
  color: #ffffff;
  border:2px @common_button_border_color solid!important;
  background-color: @common_button_bg_color!important;
}

.celebrity-block .qs-btn-container {
	display:none;
}

.celebrity-block .product-image-wrapper {
	padding-bottom: 0!important;
	height: auto;
}

.minicart-wrapper .action.showcart {
	border: 1px @common_button_border_color solid;
	background: @common_button_bg_color;
}

.minicart-wrapper .action.showcart:hover {
	color: #000;
    border-color: @common_button_border_color;
    background-color: @common-button_hover_bg;
}

.minicart-wrapper .action.showcart:hover:before {
  color: #000;
}

.em-search-icon.mobile-search-icon {
	background: @common_button_bg_color;
	border-color: @common_button_border_color;
}

.em-search-icon.mobile-search-icon:hover {
	color: #000;
    border-color: @common_button_border_color;
    background-color: @common-button_hover_bg;
}

.em-search-icon.mobile-search-icon:hover :before{
	color: #000;
}

.page-footer .em-wrapper-social .em-social .em-social-icon {
	width: 37px!important;
}

.em-wrapper-ads-12 .link-more,.em-wrapper-ads-12 .link-more:visited {
	color: #cca745;
}

.owl-carousel .owl-nav [class*='owl-']:hover,.owl-carousel.owl-theme .owl-nav [class*='owl-']:hover {
    border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

.em-wrapper-ads-11 .owl-dots .owl-dot span {
	border: 2px solid #cca745;
}
.tocart.action.primary {
  border-color: @common_button_border_color;
  background-color: @common_button_bg_color;
}

.tocart.action.primary:hover {
  color: #000;
  border-color: @common_button_border_color;
}

.action.primary.checkout {
	border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

.action.primary.checkout:hover {
    color: #cca745;
    border-color: @common_button_border_color;
}

.minicart-wrapper .action.showcart.active:before {
	color: #000;
}

.minicart-wrapper .action.showcart.active {
	border-color: @common_button_border_color;
    background-color: #fff
}

.minicart-wrapper .action.showcart.active:hover:before {
	color: #000;
}

/*common loader*/

.qs-loader:before, .loader:before {
	border-left-color: @common_button_bg_color;
}


/*product details*/

.product-info-main .stock.available {
	color: green!important;
}

#maincontent .widget.block.block-static-block .em-background-parallax-full.show-mobile {
	display:none;
}

/*Homepage Testimonial*/

.em-wrapper-area05 .em-slider-category.owl-carousel {
	margin: 0;
} 

.em-wrapper-area05 .em-slider-category.owl-carousel .owl-item {
	padding: 0;
}

/*quick view popup*/
.product.data.items > .item.title:not(.disabled) > .switch:active,.em-tabs > .item.title:not(.disabled) > .switch:active,.product.data.items > .item.title.active > .switch,.em-tabs > .item.title.active > .switch,.product.data.items > .item.title.active > .switch:focus,.em-tabs > .item.title.active > .switch:focus,.product.data.items > .item.title.active > .switch:hover,.em-tabs > .item.title.active > .switch:hover {
        color:@common_anchor!important;
    }
	
.product.data.items > .item.title > .switch:hover,.em-tabs > .item.title > .switch:hover {
    color: @common_anchor_hover!important;
    }	

/*scroll down arrow for homepage*/

.em-slideshow {
position:relative;
}
div.scrolldown-arrow {
    position: absolute;
    bottom: 45px;
    left: 49.5%;
}
div.scrolldown-arrow span
{
  display: block;
  width: 8px;
  height: 8px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 3.6px;
}

.unu
{
  margin-top: 6px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.mouse
{
height: 21px;
width: 14px;
  border-radius: 10px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
}

.wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 767px){
	div.scrolldown-arrow {
		display:none;
	}
	#maincontent .widget.block.block-static-block .em-background-parallax-full.show-mobile {
		display:block;
	}
	#maincontent .widget.block.block-static-block .em-background-parallax-full.hide-mobile {
		display:none;
	}
	.em-wrapper-best-slider.space-block {
		margin-bottom: 0;
	}
}

/*homepage wrapper banners and widgets*/
@media only screen and (max-width: 767px){
	.em-wrapper-banners .banner-equal-space {
		padding-left:15px;
		padding-right:15px;
	}
	.widget-product-grid.owl-carousel {
		margin: 0;
	}
	.widget-product-grid.owl-carousel .owl-item {
		padding: 0 2px;
	}
	.widget-product-grid.owl-carousel .owl-nav [class*='owl-'].owl-next,.em-slider-from-our-blog.owl-carousel .owl-nav [class*='owl-'].owl-next {
		right: 0;
	}
	.widget-product-grid.owl-carousel .owl-nav [class*='owl-'].owl-prev,.em-slider-from-our-blog.owl-carousel .owl-nav [class*='owl-'].owl-prev {
		right: 40px;
	}
	.em-tabs-widget .product.data.items > .item.content {
		padding: 10px 5px 0;
	}
	.em-tabs-widget .products-grid .product-item {
		margin-bottom: 10px;
	}
	body.cms-index-index .page-main .widget .em-block-title {
		margin-bottom: 20px;
	}
	
}