/*customvariable*/
@common_button_bg_color:#cca745;
@common_button_border_color:#cca745;
@common-button_hover_bg:#fff;
@common_anchor:#434343;
@common_anchor_hover:#cca745;


/*import of custom files*/
@import '_celebmasonry.less';
@import '_tvpage.less';
@import '_listnav.less';
@import '_beautylandingpage.less';

/*buttons,anchors*/
a:hover, .alink:hover {
	color: @common_anchor_hover;
}

a.button-link:hover,a.button-link.first:hover {
    border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

.abs-product-link > a:hover, .product-item-name > a:hover, .product.name a > a:hover {
	color: @common_anchor_hover;
}

.action.multicheckout:visited,.action.multicheckout.action.multicheckout:active,.action.multicheckout {
	color: @common_anchor;
}

.action.multicheckout:hover {
    color: @common_anchor_hover;
}

.wrapper-breadcrums a:hover {
    color: @common_anchor_hover;
}

.wrapper-breadcrums a:active {
    color: @common_anchor_hover;
}

.modes-mode.active,.modes-mode:hover:before,.modes-mode.active:before {
    color:@common_anchor_hover;
}

/*layout*/

.page-main,.page-bottom {
	background-color: rgba(240, 240, 240, 0.2);
}
@media only screen and (max-width: 767px) {
body.cms-index-index .columns .column.main {
	padding-bottom: 0;
}
}

.em-line-01 .block-title strong, .block.crosssell .block-title strong, .block.upsell .block-title strong, .block.related .block-title strong, .page-main .widget .block-title strong, .em-line-01 .em-block-title strong, .block.crosssell .em-block-title strong, .block.upsell .em-block-title strong, .block.related .em-block-title strong, .page-main .widget .em-block-title strong, .em-line-01 .em-widget-title strong, .block.crosssell .em-widget-title strong, .block.upsell .em-widget-title strong, .block.related .em-widget-title strong, .page-main .widget .em-widget-title strong, .em-line-01 .block-title h2, .block.crosssell .block-title h2, .block.upsell .block-title h2, .block.related .block-title h2, .page-main .widget .block-title h2, .em-line-01 .em-block-title h2, .block.crosssell .em-block-title h2, .block.upsell .em-block-title h2, .block.related .em-block-title h2, .page-main .widget .em-block-title h2, .em-line-01 .em-widget-title h2, .block.crosssell .em-widget-title h2, .block.upsell .em-widget-title h2, .block.related .em-widget-title h2, .page-main .widget .em-widget-title h2, .em-line-01 .block-title h3, .block.crosssell .block-title h3, .block.upsell .block-title h3, .block.related .block-title h3, .page-main .widget .block-title h3, .em-line-01 .em-block-title h3, .block.crosssell .em-block-title h3, .block.upsell .em-block-title h3, .block.related .em-block-title h3, .page-main .widget .em-block-title h3, .em-line-01 .em-widget-title h3, .block.crosssell .em-widget-title h3, .block.upsell .em-widget-title h3, .block.related .em-widget-title h3, .page-main .widget .em-widget-title h3 {
	border-bottom: 3px solid #cca745;
}

/*header*/

.page-header .panel.wrapper {
	background-color: rgba(240, 240, 240, 0.88);
}	

.em-header-14.page-header .header.content:not(.navbar-fixed-top) .minicart-wrapper .action.showcart:hover {
	border-color: @common_button_border_color;
    background-color: @common-button_hover_bg;
}

.page-header .switcher.switcher-language .switcher-trigger span, .page-footer .switcher.switcher-language .switcher-trigger span {
	color: #000;
}

.page-header .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after {
	color: #000;
}

.page-header .switcher .options .action.toggle:hover:after, .page-footer .switcher .options .action.toggle:hover:after {
	color: #000;
}

.em-header-14.page-header .switcher:after {
	color: #000;
}

.header.panel > .header.links > li > a:hover {
  color: @common_anchor_hover;
}
.header.panel > .header.links > li > a:active {
  color: @common_anchor_hover;
}

/*Buttons,anchor,icons*/
#back-top a {
	border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

#back-top a:hover {
    color: #000;
    border-color: @common_button_border_color;
    background-color: @common-button_hover_bg;
}

.page-header .ui-dialog-content a:hover {
    color: #cca745;
}	

.product-shop-top .actions-primary button.tocart.primary {
	color: #fff;
	border-color: @common_button_border_color;
	background-color: @common_button_bg_color;
}

.product-shop-top .actions-primary button.tocart.primary:hover {
	color: #cca745;
	border-color: @common_button_border_color;
}

.actions-secondary .action, .table-comparison .action.towishlist {
	color: #fff;
	border-color: @common_button_border_color;
	background-color: @common_button_bg_color;
}

.actions-secondary .action:hover,.table-comparison .action.towishlist:hover {
    color: #cca745;
    border-color: @common_button_border_color;
}

.products-list a.qs-button, .products-grid a.qs-button {
	color: #fff;
	border-color: @common_button_border_color;
	background-color: @common_button_bg_color;
}

.products-list a.qs-button:hover, .products-grid a.qs-button:hover {
	color: #cca745;
    border-color: @common_button_border_color;
}

.action.primary {
	background: @common_button_bg_color;
    border: 1px solid @common_button_border_color;
}

.action-primary:focus,.action-primary:active {
    background: @common_button_bg_color;
    border: 1px solid @common_button_border_color;
    color: #000
}

.action.primary:hover {
	background: @common-button_hover_bg!important;
	border: 1px solid @common_button_border_color!important;
    color: #000;
}

a.action.primary {
	color: #cca745;
}

.page-footer a:hover {
	color: @common_anchor_hover;
}

.em-newsletter-style02 .block.newsletter .content .action.subscribe:hover {
  color: #ffffff;
  border:2px @common_button_border_color solid!important;
  background-color: @common_button_bg_color!important;
}

.celebrity-block .qs-btn-container {
	display:none;
}

.celebrity-block .product-image-wrapper {
	padding-bottom: 0!important;
	height: auto;
}

.minicart-wrapper .action.showcart {
	border: 1px @common_button_border_color solid;
	background: @common_button_bg_color;
}

.minicart-wrapper .action.showcart:hover {
	color: #000;
    border-color: @common_button_border_color;
    background-color: @common-button_hover_bg;
}

.minicart-wrapper .action.showcart:hover:before {
  color: #000;
}

.em-search-icon.mobile-search-icon {
	background: @common_button_bg_color;
	border-color: @common_button_border_color;
}

.em-search-icon.mobile-search-icon:hover {
	color: #000;
    border-color: @common_button_border_color;
    background-color: @common-button_hover_bg;
}

.em-search-icon.mobile-search-icon:hover :before{
	color: #000;
}

.page-footer .em-wrapper-social .em-social .em-social-icon {
	width: 37px!important;
}

.em-wrapper-ads-12 .link-more,.em-wrapper-ads-12 .link-more:visited {
	color: #cca745;
}

.owl-carousel .owl-nav [class*='owl-']:hover,.owl-carousel.owl-theme .owl-nav [class*='owl-']:hover {
    border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

.em-wrapper-ads-11 .owl-dots .owl-dot span {
	border: 2px solid #cca745;
}
.tocart.action.primary {
  border-color: @common_button_border_color;
  background-color: @common_button_bg_color;
}

.tocart.action.primary:hover {
  color: #000;
  border-color: @common_button_border_color;
}

.action.primary.checkout {
	border-color: @common_button_border_color;
    background-color: @common_button_bg_color;
}

.action.primary.checkout:hover {
    color: #cca745;
    border-color: @common_button_border_color;
}

.minicart-wrapper .action.showcart.active:before {
	color: #000;
}

.minicart-wrapper .action.showcart.active {
	border-color: @common_button_border_color;
    background-color: #fff
}

.minicart-wrapper .action.showcart.active:hover:before {
	color: #000;
}

@media (min-width: 768px), print {
.logo img{
    width:150px;
	height:54px;
}

/*navigation*/

.navigation {
	background:none;
}

.nav-sections-item-content {
	margin-top: 10px;
}

.navbar-fixed-top .nav-sections-item-content {
	margin-top: 0;
}

.em-menu-content li.level0 > a.em-menu-link {
	background-color: #000;
	color: #fff;
}

.navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus {
	background: @common_button_bg_color;
}

/*header*/

.header.panel > .header.links > li > a,.header.panel > .header.links > li > a:visited {
	color: #000;
}

.em-header-14.page-header .header.panel .header.links > li:after {
    color: #000;
}
.em-header-14.page-header .header.content {
    padding: 0;
}

.em-header-14.page-header .em-minicart {
    margin-top: 10px;
    margin-bottom: 10px;
	position: relative;
    z-index: 9999;
}

.header.content:not(.navbar-fixed-top) .minicart-wrapper .action.showcart {
	background: @common_button_bg_color!important;
}

.header.content:not(.navbar-fixed-top) .minicart-wrapper:hover .action.showcart {
	border-color: @common_button_border_color;
    background-color: @common-button_hover_bg!important;
}

/*search*/

.em-search-style02 {
    margin-top: 10px;
	z-index: 999999;
    position: relative;
	display:none;
}

.em-header-14.page-header .header.content:not(.navbar-fixed-top) .em-search-icon.mobile-search-icon {
	display: block !important;
    z-index: 999999;
    position: relative;
    float: right;
    margin: 5px 0 0 0;
    height: 46px;
    width: 46px;
    right: 0;
}

.em-header-14.page-header .header.content:not(.navbar-fixed-top) .em-search-icon.mobile-search-icon span:before {
    line-height: 44px;
}

.header.content.navbar-fixed-top .em-search-icon.mobile-search-icon {
	z-index: 9999;
}

/*footer*/

.em-footer-style12 .em-wrapper-social .em-social .em-social-icon:hover {
	background-color: @common_button_bg_color;
}

/*checkout page*/

.opc-progress-bar-item > span:after {
	background: #ccc!important;
}

.opc-progress-bar-item._active:before {
    background: @common_button_bg_color!important;
}
.opc-progress-bar-item._active > span:before {
	background: @common_button_bg_color!important;
}

.opc-progress-bar-item._active > span:after {
	background: #e4e4e4!important;
}

}

/*end media query*/

/*footer*/
.em-footer-style12 .footer-bottom {
	padding: 15px 0 10px;
}

.em-footer-style12 .footer-bottom .footer.content {
	padding-top: 0;
}

/*cart page*/

.cart-container .form-cart .action.continue {
	background:@common_button_bg_color;
	border: 1px solid @common_button_border_color;
}

/*checkout page*/
.checkout-index-index .main-content-full .widget.block.block-static-block{
	display:none;
}

.checkout-index-index .page-footer .footer-top .footer.content{
	display:none;
}

@media only screen and (max-width: 767px) {
.checkout-index-index .page-header {
	min-height: 60px;
}
.checkout-index-index .authentication-wrapper {
    margin-top: -65px;
}
.checkout-index-index .logo {
	display: block;
    margin-top: 5px;
}
.checkout-index-index .page-wrapper .logo img {
    display: block;
}
.checkout-index-index .minicart-wrapper {
	display: none;
}
.products.wrapper.list.products-list .product-item-info .qs-btn-container {
	display: none;
}

}

/*common loader*/

.qs-loader:before, .loader:before {
	border-left-color: @common_button_bg_color;
}

/*product list*/

@media only screen and (max-width: 767px) {
.catalog-category-view .products-grid .product-item-inner {
	display: none;
}
.catalog-category-view #em-grid-mode .product-item .product-shop-top {
	padding: 5px 0 0 0;
}
.header.content.navbar-fixed-top {
        background: #fff;
        box-shadow: 0 0 5px #bdbdbd;
        -moz-box-shadow: 0 0 5px #bdbdbd;
        -webkit-box-shadow: 0 0 5px #bdbdbd;
        -o-box-shadow: 0 0 5px #bdbdbd;
        -ms-box-shadow: 0 0 5px #bdbdbd;
        min-height: 65px;
        width: 100%;
        max-width: 100% !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 889;
        padding: 5px 0 !important;
        margin: 0 auto;
        position: fixed !important;
        -webkit-animation-name: fadeInDown;
        -webkit-animation-duration: 5.0s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: anim_titles;
        -moz-animation-duration: 5.0s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: normal;
        -moz-animation-play-state: running;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -webkit-animation-duration: 0.7s;
        -moz-animation-duration: 0.7s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out
    }
}

/*product list*/

.catalog-category-view #em-grid-mode .product.name a {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    display: block;
}

.products.wrapper.list.products-list .product-item-info .qs-btn-container {
	top: 37.3%;
	left: 42.5px;
}

/*product details*/

.product-info-main .stock.available {
	color: green!important;
}

/*homepage celebrity block*/

.gridmason-item { width:295px;float:left; }

/*Mega Menu*/
.ves-megamenu .dropdown-menu .subgroup.level1 > a {
	padding: 5px 0;
}
.ves-megamenu .row {
	margin-left: 0;
    margin-right: 0;
}
@media only screen and (min-width: 768px), print {
.ves-megamenu .nav-item > a {
	padding: 0 15px;
}

.ves-megamenu {
	background:none;
}

.ves-megamenu li {
	background: #fff;
}

.ves-megamenu li.level0:hover > a {
    background:@common_button_bg_color;
}

.em-header-14.page-header .em-menu-hoz {
	width: 100%;
	position: absolute;
	margin: 4px 0 0 0;
}	
.navigation .ves-megamenu .level0 .submenu .submenu, .ves-megamenu .subgroup > .submenu {
	padding: 0;
}
.ves-megamenu .dropdown-menu .subgroup.level1 > .submenu > .content-wrap > .megamenu-content .level2.nav-dropdown .col-sm-12{
	padding: 0;
	width: 100%;
}
.navigation .level0 .submenu a {
	padding: 3px !important;
	background:none!important;
}

.navigation .level0 .submenu a:hover {
	padding: 3px !important;
	background:@common_anchor_hover!important;
}
/*
.megamenu-content .level2.nav-dropdown .row{
	background: url(../images/submenu-icon.png) left center no-repeat;
	padding: 0 0 0 10px;
    margin: 0 0 0 5px;
}*/

.megamenu-content .level2.nav-dropdown .dropdown-submenu a {
	color: #575757;
	font-size: 14px;
	font-weight: normal;
}

.nav-celeb .megamenu-content .level1.dropdown-submenu a,.nav-brands .megamenu-content .level1.dropdown-submenu a,.nav-perfumes .megamenu-content .level1.dropdown-submenu a,.nav-eyewear .megamenu-content .level1.dropdown-submenu a {
	/*background:url(../images/submenu-icon.png) left 7px no-repeat!important;
	padding-left:10px!important;*/
	color: #575757;
	font-size: 14px;
	font-weight: normal;
}

.nav-celeb .megamenu-content .level1.dropdown-submenu a:hover,.nav-brands .megamenu-content .level1.dropdown-submenu a:hover,.nav-perfumes .megamenu-content .level1.dropdown-submenu a:hover,.nav-eyewear .megamenu-content .level1.dropdown-submenu a:hover {
	/*background-color:@common_button_bg_color!important;*/
}

.ves-megamenu .dropdown-menu .subgroup.level1 > .submenu > .content-wrap > .megamenu-content .col-sm-12 {
	width: 100%;
	padding: 0!important;
}
.nav-beauty .col-sm-2 {
	width: 16.33333333%!important;
}

.nav-celeb .col-sm-2,.nav-brands .col-sm-2 {
	width: 16.66666666%!important;
}

.nav-watches .col-sm-12,.nav-brands .col-sm-12 {
	width: 100%!important;
}

.nav-brands .mega-col.col-sm-12 {
	padding-left: 0!important;
}
    

/*.nav-brands .col-xs-12 {
    width: 12.5%!important	;
}*/

.ves-megamenu .dropdown-menu .content-wrap .megamenu-content {
	padding: 10px 0 0 0;
}	

/*brands menu*/

.nav-brands .dropdown-menu .content-wrap .megamenu-content .level1.nav-dropdown {
	max-height: 300px;
    overflow-y: scroll;
}
.ves-megamenu .dropdown-menu .megamenu-header input[type="search"]{
	width:50%;
	float: right
}

}

.level2.dropdown-submenu .submenu.dropdown-menu {
	background:#fff;
}

#maincontent .widget.block.block-static-block .em-background-parallax-full.show-mobile {
	display:none;
}

@media only screen and (max-width: 767px){
.ves-menu .navigation .level0 > .submenu {
    background: none!important;
}
.ves-megamenu.nav-mobile .dropdown-menu .subgroup.level1 > a {
	color: #cca745!important;
}
.nav-mobile .dropdown-menu .content-wrap .megamenu-sidebar {
	display:none;
}	
.nav-mobile .dropdown-menu .content-wrap .megamenu-content {
	padding: 20px 0 0 0;
}
#maincontent .widget.block.block-static-block .em-background-parallax-full.show-mobile {
	display:block;
}
#maincontent .widget.block.block-static-block .em-background-parallax-full.hide-mobile {
	display:none;
}
.em-wrapper-best-slider.space-block {
	margin-bottom: 0;
}
.page-footer .em-footer-info {
	padding-top: 0;
}
.footer.content {
	padding-top:0!important;
}
}

.ves-megamenu li.level0 > a .fa.fa-female {
	/*display:none;*/
}

.ios .nav-sections {
	left:-81%;
}

.ios .nav-sections {
	width:81%;
}

.nav-electronics,.nav-women,.nav-newproducts,.nav-jewellery {
	    display: none!important;
}

.cat-label-v2 {
	background: @common_button_bg_color;
}

.cat-label-v2.pin-top::before {
	border-top-color: @common_button_bg_color;
}

.nav-brands .megamenu-sidebar .left-sidebar {
	margin:0 2%;
}

ul.brands {
	width:80%;
    padding: 0!important;
    border-bottom: none;
    border-right: none;
}

ul.brands li.col-xl-4{
	float:left;
	width:25%;
}

ul.brands li.col-xl-4 a:hover {
	background-color:none!important;
}

/*Homepage Testimonial*/

.em-wrapper-area05 .em-slider-category.owl-carousel {
	margin: 0;
} 

.em-wrapper-area05 .em-slider-category.owl-carousel .owl-item {
	padding: 0;
}

/*quick view popup*/
.product.data.items > .item.title:not(.disabled) > .switch:active,.em-tabs > .item.title:not(.disabled) > .switch:active,.product.data.items > .item.title.active > .switch,.em-tabs > .item.title.active > .switch,.product.data.items > .item.title.active > .switch:focus,.em-tabs > .item.title.active > .switch:focus,.product.data.items > .item.title.active > .switch:hover,.em-tabs > .item.title.active > .switch:hover {
        color:@common_anchor!important;
    }
	
.product.data.items > .item.title > .switch:hover,.em-tabs > .item.title > .switch:hover {
    color: @common_anchor_hover!important;
    }	

/*scroll down arrow for homepage*/

.em-slideshow {
position:relative;
}
div.scrolldown-arrow {
    position: absolute;
    bottom: 45px;
    left: 49.5%;
}
div.scrolldown-arrow span
{
  display: block;
  width: 8px;
  height: 8px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 3.6px;
}

.unu
{
  margin-top: 6px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.mouse
{
height: 21px;
width: 14px;
  border-radius: 10px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
}

.wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 767px){
	div.scrolldown-arrow {
		display:none;
	}
}
	
/*beauty new menu*/
.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-items {
	width:100%;
	background: #eee;
}
.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-items li{
    width:16.666%;
	background:none;
}
.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-content {
	width:100%;
	clear:both;
	margin: 1px 0 0 0;
    border-top: 2px #cca745 solid;
	min-height: 160px;
}
.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-content .ves-menu > .block-title {
	display:none;
}

.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-items > ul > li > a {
	border:none;
	text-transform: uppercase;
    text-indent: inherit;
	display: inline-block;
	width: auto;
	padding:19px 0!important;
}

.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-items > ul > li:nth-child(3) a {
	width: 91px;
    text-align: center;
	padding:10px 0!important;
}

.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-items > ul > li.dynamic-active > a {
	color: #cca745;
}

.ves-megamenu .level0.nav-beauty-new .submenu .dynamic-items > ul > li > a:hover {
	background: none!important;
    color: #cca745;
}

.ves-megamenu .level0.nav-beauty-new .dynamic-items li > a > .caret {
	display:none;
}

.ves-megamenu .level0.nav-beauty-new .dynamic-items li.dynamic-active > a {
	position: relative;
	display: inline-block;
    width: auto;
}

.ves-megamenu .level0.nav-beauty-new .dynamic-items li.dynamic-active > a > .caret {
	display:block;
	border-right: 8px solid transparent;
    border-top: 8px solid #cca745;
	border-left: 8px solid transparent;
	border-bottom: none;
	bottom: 0;
    top: inherit;
    right: 40%;
}

.ves-megamenu .level0.nav-beauty-new .dropdown-menu .content-wrap .megamenu-content {
	padding: 0;
}

.navigation .level0.nav-beauty-new .submenu a {
	text-transform: uppercase;
}

.navigation .level0.nav-beauty-new .level1 .submenu a {
	text-transform: none;
	font-weight: normal;
}

.navigation .level0.nav-beauty-new .submenu li {
	width:20%;
	background: none;
}
.ves-megamenu li.level0:hover li.level0 > a {
	color:#333;
}
.navigation .level0.nav-beauty-new .level1 .submenu a {
	
}

.navigation .level0.nav-beauty-new .submenu a:hover, .navigation .level0.nav-beauty-new .submenu a.ui-state-focus {
	background: none!important;
	color: #cca745;
}

.ves-megamenu .nav-beauty-new .level1.nav-dropdown .row .col-sm-12{
	width:100%;
	padding:0;
}

.ves-megamenu.menu-hover .nav-beauty-new.subhover:hover .dropdown-menu {
	padding:0 0 20px 0;
}
.nav-beauty.nav-mobile {
	display: none!important;
}
@media only screen and (max-width: 767px){
	.nav-beauty-new.nav-beauty-desktop {
		display:none;
	}
	.nav-beauty.nav-mobile {
		display:block;
	}
}

